@model EventPorter.Models.Adam
@{
    Layout = null;
}
<h4>This is user information</h4>
<div class="container">
    <div class="col-md-12">
        <h2>@Model.Username</h2>
        <h2>@Model.Email</h2>
        <h2>User since: @Model.RegDate</h2>

    </div>

</div>

