@model EventPorter.Models.User
@{
    Layout = null;
}
<h4>This is user information</h4>
<div class="container">
    <div class="col-md-12">
        <p>@Model.Username</p>
        <p>@Model.Firstname</p>
        <p>@Model.Lastname</p>
        <p>@Model.Email</p>
    </div>

</div>

