@model IEnumerable<EventPorter.Models.CartEvent>
@{
    ViewBag.Title = "Cart";
}

<h2>ViewCart</h2>

@*<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">*@

@section Styles{
    <link href="~/Content/styles/Cart.css" rel="stylesheet" type="text/css" />
    }

<div class="container">
    

    <table id="cart" class="table table-hover table-condensed">
@foreach (var c in Model)
{
        <thead>
            <tr>
                <th style="width:50%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs">
                            <img src="http://placehold.it/100x100" alt="..." class="img-responsive" /></div>
                        <div class="col-sm-10">
                            <h4 class="nomargin">@c.Title</h4>
                            <p>Description</p>
                        </div>
                    </div>
                </td>
                <td data-th="Price">@c.Price</td>
                <td data-th="Quantity">
                    <input type="number" class="form-control text-center" value="1">
                </td>
                <td data-th="Subtotal" class="text-center">@c.Price</td>
                <td class="actions" data-th="">
                    <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
        }
       
        <tfoot>
            <tr class="visible-xs">
                
            @foreach (var e in Model)
            {
                decimal total = 0;
                total += e.Price;


                <td class="text-center"><strong>@total</strong></td>
            }
            </tr>
            <tr>
                <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><strong></strong></td>
                <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
        </tfoot>
        
    </table>

    
</div>

