
@{
    Layout = null;
}

@section Styles{
    <link href="~/Content/EventCardDisplay.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-md-3">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h4>Front</h4>
                </div>
                <div class="back">
                    <h4>Back</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h4>Front</h4>
                </div>
                <div class="back">
                    <h4>Back</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h4>Front</h4>
                </div>
                <div class="back">
                    <h4>Back</h4>
                </div>
            </div>
        </div>
    </div>

</div>
