/***************CSS for HomePage***************/
.remove_all_padding {
    padding: 0;
}

.carousel.fade {
    opacity: 1;
}

.carousel.fade .item {
    transition: opacity ease-out 1.2s;
    left: 0;
    opacity: 0; /* hide all slides */
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
}

.carousel.fade .item:first-child {
    top: auto;
    opacity: 1; /* show first slide */
    position: relative;
}

.carousel.fade .item.active {
    opacity: 1;
}

.row.gallery-shadow {
    box-shadow: 0 10px 30px #da9cff;
}

.carousel-inner > .item > img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#search_input{
    width: 100%;
    max-width: 356px;
}

#search-bar{
    width: 36%;
    max-width:400px;
    z-index: 2000;
}

.relative-searchbar {
    position: relative;
    top: -40px;
    left: 33%;
}

.fix-searchbar {
    position: fixed;
    top: 8px;
    left: 33%;
    /*box-shadow: 0 0 10px black;*/
}

/*make menu collapse sooner*/
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }

        .navbar-collapse.collapse.in {
            display: block !important;
        }

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        float: none;
    }
}
