/***************CSS for HomePage***************/
.remove_all_padding {
    padding: 0;
}

.carousel.fade {
    opacity: 1;
}

.carousel.fade .item {
    transition: opacity ease-out 1.2s;
    left: 0;
    opacity: 0; /* hide all slides */
    top: 0;
    position: absolute;
    width: 100%;
    display: block;
}

.carousel.fade .item:first-child {
    top: auto;
    opacity: 1; /* show first slide */
    position: relative;
}

.carousel.fade .item.active {
    opacity: 1;
}

.row.gallery-shadow {
    box-shadow: 0 10px 50px #262626;
}

.carousel-inner > .item > img {
    width: 100%;
    margin: 0 auto;
}

.input-group{
    width: 40%;
    max-width:370px;
}

.input-group.searchbar_position {
    position: relative; 
    top: -60px;
    left: 35%;
}
