/***************CSS for Adam profile***************/
body {
    font-family: 'Raleway', sans-serif;
}

.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-Adampic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-Adamtitle {
    text-align: center;
    margin-top: 20px;
}

.profile-Adamtitle-name {
    text-align: center;
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}


.profile-Adambuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-Adambuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-Adambuttons .btn:last-child {
    margin-right: 0px;
}

.profile-Adammenu {
    margin-top: 30px;
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-Adammenu ul li:last-child {
    border-bottom: none;
}

    .profile-Adammenu ul li a {
        color: #93a3b5;
        font-size: 14px;
        font-weight: 400;
        user-select: none;
        cursor: pointer;
    }

/*.profile-Adammenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}*/

.profile-Adammenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-Adammenu ul li.active {
    border-bottom: none;
}

.profile-Adammenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

#profile-header {
    text-align: center;
    color: #3b3b3b;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}
