
@{
    ViewBag.Title = "About Us";
}

<div class="container">
    <h2>About Us</h2>
    <p>
        Event Porter was created by three nomads with a penchant for seamlessly orchestrated planning and a man.
        We at Event Porter want our users to take the hassle out of event planning, take the annoyance out of decision making
        and bring the shy Shirley's out of their shells to meet and mingle with like minded people.
        Event Porter does not advertise itself as a dating app but whatever floats your boat.
    </p>
    <p>
        The planning process is seamless. The most time consuming event for you is regstering your details. We make the rest easy.
        You may create personal or business events that are posted privately to a group if friends or publically for others to see and partake in.
        You can even issue tickets for paid functions!
    </p>
    <p>
        If you want to communicate with us directly, you may do so by following our Contact Us page.
        We endeavour to get back to you as soon as possible if we feel like it is important enough to warrant our attention.
    </p>
</div>
