/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }
.card-contain {
    margin-top: 10%;
    margin-bottom:10%;
    width: 100%;

}
.flip-container{
    width: 320px;
    min-height: 300px;
    height: auto;
    margin: 1%;
   
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 10px 10px 5px #da9cff;
    display: inline-block;
    width: 320px;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    margin-left:-30px
}

/*.eventcard {
    box-shadow: 10px 10px 5px #da9cff;
    margin-right: 5%;
    max-height: 300px;
    border-radius: 5%;
    border:solid;
}*/



.description{
    overflow: auto;
    text-overflow: ellipsis;
}
