/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    
}
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }

.flip-container, .front, .back {
    width: 60%;
    height: 300px;
    
    
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border:solid;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background-image: url(../Content/images/lil_porter.png);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-color:white;
}
