
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Terms And Conditions</title>
</head>
<body>
    <div> 
        <h1>Terms And Conditions</h1>
    </div>
    <div>
        <p>
            1. We are EventPorter. Hi.
        </p>
        <p>
            2. Our Terms Of Service.
            TLDR;
            2.1 Terms of Service Agreement.
            It's easier if you just agree to it and don't ask questions.

        </p>
        <p>
            3. Your Acceptance.
            3.1 Binding Agreement.

            You agree to these Terms of Service and you enter into a binding contract with EventPorter either when you sign up for a registered account by clicking “Sign Up,” “Register Now,” “Get Started” or similar buttons, or if you are an unregistered Attendee, when you purchase a ticket to or register for an event (including free events) or purchase merchandise, a service or make a donation related to an event, in each case by clicking “Pay Now,” “Register Now,” “Buy Now” or similar buttons, or in accordance with Section 3.2 below. If you are not a registered user or an unregistered Attendee, you agree to these Terms of Service and you enter into a binding contract with EventPorter by downloading Applications or using, accessing or browsing any part of the Services. If you do not agree to any portion of these Terms of Service, do not use or access the Services. If you will be using the Services on behalf of an entity, you agree to these Terms of Service on behalf of that entity and its affiliates and you represent that you have the authority to do so. In such case, “you” and “your” will refer to that entity. If you do not have such authority, or if you do not agree to any portion of these Terms of Service, do not use or access the Services.



            3.2 Modifications.

            Except to the extent set forth in Section 6.10 below, EventPorter reserves the right, at its sole discretion, to modify or replace any of the terms or conditions of these Terms of Service (or any of the agreements that make up these Terms of Service) at any time (collectively, “Modifications”). Modifications to these Terms of Service will be posted to the EventPorter's website. It is your responsibility to check these Terms of Service periodically for Modifications. Your continued use of the Services following the effectiveness of any Modifications to these Terms of Service constitutes acceptance of those Modifications as well. If any Modification to these Terms of Service is not acceptable to you, you must cease accessing, browsing and otherwise using the Services. Other than as set forth in this paragraph, these Terms of Service may only be modified through a written Ticketing Services Agreement or written Addendum Agreement, signed by you and an authorized officer of EventPorter.

            3.3 Language.

            We may translate these Terms of Service (or any of the agreements that make up these Terms of Service) into other languages for your convenience. The English language version of each of these documents is the version that governs your use of the Services and in the event of any conflict between the English language version and a translated version, the English language version will control.
        </p>
        <p>
            4. Term; Termination.
            4.1 Term.

            These Terms of Service are effective upon your Acceptance as set forth under Section 3.1 above and continue in effect until terminated.

            4.2 Termination by EventPorter.

            Except to the extent we have agreed otherwise in a separate written Addendum Agreement or Ticketing Services Agreement between you and an authorized officer of EventPorter, EventPorter may terminate your right to use the Services at any time for (a) your violation or breach of these Terms of Service; (b) your misuse or abuse of the Services; or (c) if allowing you to access and use the Services would violate any applicable local, state, provincial, national and other laws, rules and regulations or would expose EventPorter to legal liability. We will use reasonable efforts to provide you notice of any such termination. Further, you agree that EventPorter shall not be liable to you or any third-party for any such termination of your right to use or otherwise access the Services.

            4.3 Termination by You.

            Except to the extent you have agreed otherwise in a separate written Addendum Agreement or Ticketing Services Agreement between you and an authorized officer of EventPorter, you may terminate your access to the Services and these Terms of Service by deleting your account.We won't really delete it. In the event there is a separate agreement between you and EventPorter governing your use of the Services and that agreement terminates or expires, these Terms of Service (as unmodified by such agreement) shall govern your use of the Services unless and until you "delete" your account. Wink wink.

            4.4 Survival of Terms.

            All provisions of these Terms of Service that by their nature should survive termination of these Terms of Service shall survive (including, without limitation, all limitations on liability, releases, indemnification obligations, disclaimers of warranties, agreements to arbitrate, choices of law and judicial forum and intellectual property protections and licences).
            
        </p>
        <p>
            5. Special Terms For International Use.
            5.1 US Export Laws.

            The Services are subject to United States export controls and economic sanctions laws. In accepting these Terms of Service you represent and warrant that:

            (a) you are not located in, and you are not a national or resident of, any country to which the United States, United Kingdom, European Union, Australia or Canada has embargoed goods and/or services of the same type as the Services (“Restricted Countries”), including without limitation, Cuba, Iran, North Korea, Sudan or Syria; and

            (b) you are not a person or entity, or owned by, under the control of, or affiliated with, a person or entity (i) that appears on the U.S. Office of Foreign Assets Control’s Specially Designated Nationals List, Foreign Sanctions Evaders List or Palestinian Legislative Council List; (ii) that appears on the U.S. Department of State’s Terrorist Exclusion List; (iii) that appears on the Bureau of Industry and Security’s Denied Persons, Entity or Unverified List; (iv) that appears on the Consolidated List of Targets published by the U.K. HM Treasury; (v) that appears on the Consolidated List published by the A.U. Department of Foreign Affairs and Trade; (vi) that is subject to sanctions in any other country; or (vii) that is engaged in the design, development or production of nuclear, biological or chemical weapons, missiles or unmanned aerial vehicles.

            5.2 Australian Users.

            If you are a User located in Australia and constitute a Consumer under the Australian Consumer Law while using the Services, then the following Australian Consumer Amendments available here apply to you.

            5.3 EU Users.

            If you are a User located in the European Union ("EU") who is an individual acting for purposes that are wholly or mainly outside of your trade, business, craft or profession while using the Services, then the following EU Consumer Amendments available here apply to you.

            If you are an Organiser located in the EU you are a data controller in respect of your Attendees’ personal data and you agree to process such personal data in accordance with your obligations under applicable data protection law.  For the most part, EventPorter is a data processor in respect of your Attendees’ personal data which means that we process your Attendees’ personal data on your behalf and are not responsible for ensuring its compliance with the EU data protection principles.  However, occasionally, in respect of some processing of Attendees’ personal data, we may act as a data controller; for example where Attendees have engaged with aspects of our Applications beyond those relating to your event.

            5.4 Argentinian Users.

            If you are a User located in Argentina, then the following Argentinian Amendments available here apply to you.

            5.5 Brazilian Users.

            If you are a User located in Brazil, then the following Brazilian Amendments available here apply to you.
        </p>
        <p>
            6. Important Legal Terms Governing All Use Of The Services (AKA, The Legal “Stuff”).
            6.1 Indemnification.

            You agree to defend, indemnify and hold EventPorter, and its affiliates and subsidiaries, and each of its and their respective officers, directors, agents, co-branders, licensors, payment processing partners, other partners and employees, harmless from any and all damage (whether direct, indirect, incidental, consequential or otherwise), loss, liability, cost and expense (including, without limitation, reasonable attorneys’ and accounting fees) resulting from any claim, demand, suit, proceeding (whether before an arbitrator, court, mediator or otherwise) or investigation made by any third party (each a “Claim”) due to or arising out of: (a) your breach of these Terms of Service, including, without limitation the Terms of Use, the Merchant Agreement and any other part of these Terms of Service; (b) your improper use of the Services; (c) your breach of any applicable local, state, provincial, national or other law, rule or regulation or the rights of any third party; or (d) in the case of Organisers, your events or the fact that EventPorter was providing Services with respect to those events, provided that in the case of (d), this indemnification shall not apply to the extent that the Claim arises out of EventPorter’s gross negligence or willful misconduct. EventPorter shall provide notice to you of any such Claim, provided that the failure or delay by Event Porer in providing such notice shall not limit your obligations hereunder except to the extent you are materially disadvantaged by such failure.

            6.2 Disclaimer of Warranties.

            EventPorter PROVIDES OUR SERVICES USING A COMMERCIALLY REASONABLE LEVEL OF SKILL AND CARE AND WE TRY TO KEEP EventPorter UP, BUG-FREE AND SAFE. BUT THERE ARE CERTAIN THINGS THAT WE DON’T PROMISE ABOUT OUR SERVICES AND YOU USE THE SERVICES AT YOUR OWN RISK. TO THE EXTENT PERMITTED BY APPLICABLE LAWS, THE SERVICES ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. EventPorter HEREBY EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, NON-INFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE. BY WAY OF EXAMPLE, EventPorter MAKES NO WARRANTY THAT (A) THE SERVICES (OR ANY PORTION OF THE SERVICES) WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS; (B) THE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE; OR (C) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICES WILL BE ACCURATE OR RELIABLE. YOU ACKNOWLEDGE THAT EventPorter HAS NO CONTROL OVER AND DOES NOT GUARANTEE THE QUALITY, SAFETY OR LEGALITY OF EVENTS ADVERTISED, THE TRUTH OR ACCURACY OF ANY USERS’ (INCLUDING ATTENDEES’, OTHER NON-ORGANIZERS’ AND ORGANIZERS’) CONTENT OR LISTINGS OR THE ABILITY OF ANY USER (INCLUDING ATTENDEES AND ORGANIZERS) TO PERFORM OR ACTUALLY COMPLETE A TRANSACTION AND EventPorter IS NOT AFFILIATED WITH, AND HAS NO AGENCY OR EMPLOYMENT RELATIONSHIP WITH, ANY THIRD PARTY SERVICE PROVIDER USED IN CONJUNCTION WITH THE SERVICES, AND EventPorter HAS NO RESPONSIBILITY FOR, AND HEREBY DISCLAIMS ALL LIABILITY ARISING FROM, THE ACTS OR OMISSIONS OF ANY SUCH THIRD PARTIES.

            NOTHING IN THESE TERMS OF SERVICE IS INTENDED TO EXCLUDE OR LIMIT ANY CONDITION, WARRANTY, RIGHT OR LIABILITY WHICH MAY NOT BE LAWFULLY EXCLUDED OR LIMITED. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR CONDITIONS OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR LOSS OR DAMAGE CAUSED BY WILLFUL ACTS, NEGLIGENCE, BREACH OF CONTRACT OR BREACH OF IMPLIED TERMS, OR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, ONLY THOSE LIABILITY AND OTHER LIMITATIONS WHICH ARE LAWFUL IN YOUR JURISDICTION (IF ANY) WILL APPLY TO YOU AND OUR LIABILITY IS LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.

            6.3 Limitation of Liability.

            TO THE EXTENT PERMITTED BY APPLICABLE LAWS, EventPorter, AND ITS AFFILIATES AND SUBSIDIARIES, AND EACH OF ITS AND THEIR RESPECTIVE OFFICERS, DIRECTORS, AGENTS, CO-BRANDERS, LICENSORS, PAYMENT PROCESSING PARTNERS, OTHER PARTNERS, EMPLOYEES AND ANY APPLICABLE CARD SCHEMES, SHALL NOT BE LIABLE UNDER ANY CIRCUMSTANCES OR UNDER ANY LEGAL THEORY, WHETHER IN TORT, CONTRACT, OR OTHERWISE, WITH RESPECT TO THE SERVICES, OR ANY OTHER SUBJECT MATTER OF THESE TERMS OF SERVICE, INCLUDING WITHOUT LIMITATION THE TERMS OF USE, THE MERCHANT AGREEMENT AND ANY OTHER PART OF THESE TERMS OF SERVICE, FOR: (A) ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF EventPorter HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), (B) THE COST OF PROCUREMENT OF SUBSTITUTE SERVICES, (C) ANY OF YOUR CONTENT (AS DEFINED IN THE TERMS OF USE) OR ANY CONTENT OF ANY OTHER USER OF THE SERVICES, OR (D) ANY MATTERS BEYOND EventPorter’S REASONABLE CONTROL. IN ADDITION, OTHER THAN THE OBLIGATION OF EventPorter TO PAY OUT EVENT REGISTRATION FEES TO CERTAIN ORGANIZERS UNDER THE MERCHANT AGREEMENT, THE MAXIMUM AGGREGATE LIABILITY OF EventPorter, ITS PAYMENT PROCESSING PARTNERS, LICENSORS AND ANY APPLICABLE CARD SCHEMES FOR ALL DAMAGES, LOSSES, LIABILITIES, COSTS AND EXPENSES UNDER ANY LEGAL THEORY, WHETHER IN TORT, CONTRACT, OR OTHERWISE, WITH RESPECT TO, ARISING OUT OF OR RELATED TO THE SERVICES, OR ANY OTHER SUBJECT MATTER OF THESE TERMS OF SERVICE, INCLUDING WITHOUT LIMITATION THE TERMS OF USE, THE MERCHANT AGREEMENT AND ANY OTHER PART OF THESE TERMS OF SERVICE, SHALL BE LIMITED TO (I) FOR ORGANIZERS OF EVENTS WITH PAID TICKETS OR REGISTRATIONS, AND SUBJECT TO THE TERMS OF THE MERCHANT AGREEMENT, THE FEES (NET OF EventPorter PAYMENT PROCESSING FEES) THAT YOU PAID US IN THE THREE (3) MONTH PERIOD IMMEDIATELY PRECEDING THE CIRCUMSTANCES GIVING RISE TO YOUR CLAIM; AND (II) FOR ORGANIZERS OF EVENTS WITH FREE TICKETS ONLY, ATTENDEES AND OTHER USERS, EITHER (1) THE TOTAL AMOUNT OF ALL TICKETS OR REGISTRATIONS THAT YOU PURCHASED OR MADE THROUGH THE SERVICES IN THE THREE (3) MONTH PERIOD IMMEDIATELY PRECEDING THE CIRCUMSTANCES GIVING RISE TO YOUR CLAIM; OR (2) IF YOU MADE NO SUCH PURCHASES, ONE HUNDRED U.S. DOLLARS (US$100).

            NOTHING IN THESE TERMS OF SERVICE IS INTENDED TO EXCLUDE OR LIMIT ANY CONDITION, WARRANTY, RIGHT OR LIABILITY WHICH MAY NOT BE LAWFULLY EXCLUDED OR LIMITED. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR CONDITIONS OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR LOSS OR DAMAGE CAUSED BY WILLFUL ACTS, NEGLIGENCE, BREACH OF CONTRACT OR BREACH OF IMPLIED TERMS, OR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, ONLY THOSE LIABILITY AND OTHER LIMITATIONS WHICH ARE LAWFUL IN YOUR JURISDICTION (IF ANY) WILL APPLY TO YOU AND OUR LIABILITY IS LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.

            6.4 Release.

            EventPorter provides a marketplace in which Attendees and Organisers can transact. However, EventPorter could not function if it were held responsible for the actions or inactions of different Attendees, Organisers and/or third parties both on and off the Services. Therefore, as an inducement to EventPorter permitting you to access and use the Services, you hereby agree to release EventPorter, and its affiliates and subsidiaries, and each of its and their respective officers, directors, agents, partners and employees from all damages (whether direct, indirect, incidental, consequential or otherwise), losses, liabilities, costs and expenses of every kind and nature, known and unknown, arising out of or in any way connected with disputes between you and third parties (including other Users) in connection with the Services or any event listed on the Services. In addition, you waive any applicable law or statute, which says, in substance:

            “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE RELEASING PARTY DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE RELEASED PARTY."

            6.5 Trademarks.

            The trademarks, service marks and logos of EventPorter (the “EventPorter Trademarks”) used and displayed in connection with the Services are registered and unregistered trademarks or service marks of EventPorter. Other company, product and service names used in connection with the Services may be trademarks or service marks owned by third parties (the “Third Party Trademarks,” and, collectively with EventPorter Trademarks, the “Trademarks”). The offering of the Services shall not be construed as granting, by implication, estoppel, or otherwise, any licence or right to use any Trademark displayed in connection with the Services without the prior written consent of EventPorter specific for each such use. The Trademarks may not be used to disparage EventPorter, any third party or EventPorter’s or such third party’s products or services, or in any manner that may damage any goodwill in the Trademarks. Use of any Trademarks as part of a link to or from any site is prohibited unless EventPorter approves the establishment of such a link by prior written consent specific for each such link. All goodwill generated from the use of any EventPorter Trademark shall inure to EventPorter’s benefit.

            6.6 Patents; Copyrights.

            A number of issued patents and patents pending apply to the Services. The Content (as defined in the Terms of Use) of the Services is also protected by copyrights owned by EventPorter and/or third parties. Please note that if you copy portions of the Services you are violating these patent rights and copyrights.

            6.7 Notices.

            Notices to you may be sent via either email or regular mail to the address in EventPorter’s records. The Services may also provide notices of changes to these Terms of Service or other matters by displaying notices or links to notices to you generally on the Services. If you wish to contact EventPorter or deliver any notice, you can do so as follows:

            EventPorter, Inc., a Delaware corporation
            155 5th Street
            Floor 7
            San Francisco, CA 94103, USA
            Facsimile: 001-415-477-4085
            Email: legal@EventPorter.com
            Attn: Legal Department

            6.8 Entire Agreement.

            These Terms of Service, including the Terms of Use, Merchant Agreement and any other part of these Terms of Service, constitute the entire agreement between you and EventPorter and govern your use of the Services, superseding any prior or contemporaneous agreements, proposals, discussions or communications between you and EventPorter on the subject matter hereof, other than any written Ticketing Services Agreement, EventPorter Equipment Lease Agreement or Addendum Agreement between you and an authorized officer of EventPorter relating to a specified event or events.

            6.9 Choice of Law.

            Except as set forth in Section 6.10 below, these Terms of Service and the provision of the Services to you are governed by the laws of the state of California, U.S.A., without reference to principles of conflict of laws.

            6.10 BINDING ARBITRATION.

            ONLY FOR USERS LOCATED IN THE UNITED STATES:

            PLEASE READ THIS SECTION CAREFULLY AS IT AFFECTS YOUR RIGHTS. ANY DISPUTE OR CLAIM UNDER THESE TERMS OF SERVICE OR WITH RESPECT TO THE SERVICES WILL BE SETTLED BY BINDING ARBITRATION OR IN SMALL CLAIMS COURT (TO THE EXTENT THE CLAIM QUALIFIES) AND WILL TAKE PLACE ON AN INDIVIDUAL BASIS ONLY; CLASS, CONSOLIDATED OR REPRESENTATIVE ARBITRATIONS AND CIVIL ACTIONS ARE NOT PERMITTED ONCE THIS SECTION IS EFFECTIVE.

            (a) Contact Us First.

            If you have a question or concern about the Services, please contact us first. Our customer support team will try to answer your question or resolve your concern.

            (b) Agreement to Arbitrate.

            In the unlikely event that our customer support team is unable to resolve your concerns, we each hereby agree to resolve any and all disputes or claims under these Terms of Service or with respect to the Services through binding arbitration or in small claims court (to the extent the claim qualifies) instead of in courts of general jurisdiction and only on an individual basis and not as part of any purported class, consolidated or representative proceeding. Arbitration, which is often cheaper, faster and less formal than a lawsuit in court, uses a neutral arbitrator instead of a judge or jury. Arbitrators can award the same damages and relief as a court. Binding arbitration is subject to very limited review. Only the arbitrator appointed pursuant to this Section, and not any federal, state or local court or agency, shall have the authority to resolve any dispute or claim relating to this Section, including, without limitation, the scope, enforceability and arbitrability of these Terms of Service. This arbitration provision shall survive termination of these Terms of Service. These Terms of Service evidence a transaction in interstate commerce and the interpretation and enforcement of this Section 6.10 is governed by the Federal Arbitration Act, notwithstanding the choice of law set forth in Section 6.9 above.

            (c) Scope of Agreement.

            This agreement to arbitrate is intended to be broadly interpreted. It includes, but is not limited to: (i) all claims arising out of or relating to any aspect of the relationship between us, whether based in contract, tort, statute, fraud, misrepresentation or any other legal theory; (ii) all claims that arose before this or any prior agreement (including, but not limited to, claims relating to advertising); and (iii) all claims that may arise after termination of these Terms of Service and/or your use of the Services.

            (d) Exceptions.

            Notwithstanding this Agreement to arbitrate, either party may (i) bring an action on an individual basis in small claims court (to the extent the applicable claim qualifies), (ii) bring issues to the attention of federal, state or local agencies, including, for example, the Federal Trade Commission and the California Division of Consumer Services, which agencies may be able to seek relief on a party’s behalf (the Complaint Assistance Unit of the Division of Consumer Services may be contacted in writing at 1625 North Market Blvd., Suite N 112, Sacramento, California 95834, or by telephone at (800) 952-5210), and (iii) bring suit in court to seek a preliminary injunction or other interim relief pending the outcome of arbitration. In addition, the portion of any dispute or complaint relating to our participation in the US-EU or US-Swiss Safe Harbor Frameworks is subject to the Dispute Resolution section of our Privacy Policy before being subject to this Section.

            (e) No Class Actions.

            YOU AND EventPorter AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS, CONSOLIDATED OR REPRESENTATIVE PROCEEDING. THE ARBITRATOR MAY NOT CONSOLIDATE MORE THAN ONE PERSON’S CLAIMS, MAY NOT PRESIDE OVER ANY FORM OF CLASS, CONSOLIDATED OR REPRESENTATIVE PROCEEDING AND MAY ONLY PROVIDE RELIEF IN FAVOR OF THE INDIVIDUAL PARTY SEEKING RELIEF AND ONLY TO THE EXTENT NECESSARY TO PROVIDE RELIEF WARRANTED BY THAT PARTY’S INDIVIDUAL CLAIM.

            (f) Notice of Dispute.

            A party who intends to seek arbitration must first send to the other a written Notice of Dispute (“Notice”). The Notice to EventPorter must be addressed to the address in Section 6.7 above (“Notice Address”) and must be sent by certified mail. The Notice to you must be addressed to a mailing, home or payment address currently on record with EventPorter and must be sent by certified mail. If EventPorter has no records of such physical address, such notice may be delivered to your EventPorter account email address. The Notice must (i) describe the nature and basis of the claim or dispute; and (ii) set forth the specific relief sought. If EventPorter and you do not reach an agreement to resolve the claim within sixty (60) calendar days after the Notice is received, you or EventPorter may commence an arbitration proceeding.

            (g) Arbitration Proceedings.

            The arbitration will be governed by the Commercial Arbitration Rules, or, if the actions giving rise to the dispute or claim relate to your personal or household use of the Services (rather than business use), the Consumer Arbitration Rules (in each case, the “AAA Rules”) of the American Arbitration Association (“AAA”), as modified by this Section 6.10, and will be administered by the AAA and settled by a single arbitrator. The AAA Rules are available online at adr.org or by calling the AAA at 1-800-778-7879. The arbitrator is bound by the terms of these Terms of Service. All issues are for the arbitrator to decide, including, but not limited to, issues relating to the scope, enforceability, and arbitrability of this Section 6.10. Unless EventPorter and you agree otherwise, any arbitration hearings will take place in a reasonably convenient location in the United States for both parties with due consideration of their ability to travel and other pertinent circumstances. If the parties are unable to agree on a location, AAA shall determine the location. If your claim is for ten thousand dollars ($10,000) or less, we agree that you may choose whether the arbitration will be conducted solely on the basis of documents submitted to the arbitrator, through a telephonic hearing, or by an in-person hearing as established by the AAA Rules. If your claim exceeds ten thousand dollars ($10,000), the right to a hearing will be determined by the AAA Rules. Regardless of the manner in which the arbitration is conducted, the arbitrator shall issue a reasoned written decision sufficient to explain the essential findings and conclusions on which the award is based. All decisions by the arbitrator shall be final and binding and judgment on the award rendered may be entered in any court having jurisdiction.

            (h) Costs of Arbitration; Legal Fees.

            i. Payment of all filing, administration, and arbitrator costs and expenses imposed by AAA will be governed by the AAA rules, provided that if you are initiating an arbitration against EventPorter and the value of the relief sought is ten thousand dollars ($10,000) or less, then EventPorter will advance all filing, administrative and arbitration costs and expenses imposed by AAA (subject to reimbursement as set forth below). If the circumstances in the preceding sentence apply, but the value of relief sought is more than ten thousand dollars ($10,000) and you demonstrate to the arbitrator that such costs and expenses would be prohibitively more expensive than a court proceeding, then EventPorter will pay the amount of any such costs and expenses that the arbitrator determines are necessary to prevent the arbitration from being prohibitively more expensive than a court proceeding (subject to reimbursement as set forth below). In the event that the arbitrator determines that all of the claims you assert in arbitration are frivolous according to Federal Rule of Civil Procedure 11, you agree to reimburse EventPorter for all such cost and expenses that EventPorter paid and that you would have been obligated to pay under the AAA rules.

            ii. Just as in any court proceeding, each party will initially bear its own attorneys’ fees and expenses in connection with any arbitration. Should either party be determined to have substantially prevailed in the arbitration, then upon such party’s request, the arbitrator shall award such prevailing party the reasonable attorneys’ fees and expenses that it incurred in connection with the arbitration, provided that to the extent that the dispute or claim relate to your personal or household use of the Services (rather than business use) EventPorter will not seek to recover its attorneys’ fees and expenses in an arbitration initiated by you. The arbitrator may make rulings and resolve disputes as to the reimbursement of attorneys’ fees and expenses upon request from either party made within fourteen (14) days of the arbitrator’s ruling on the merits.

            (i) Future Changes.

            Notwithstanding any provision in these Terms of Service to the contrary, you and EventPorter agree that if EventPorter makes any future change to this arbitration provision (other than a change to the Notice Address) EventPorter will provide you with notice of such change and you may reject any such change by sending us written notice within thirty (30) calendar days of the change to the Notice Address provided above. By rejecting any future change, you are agreeing that you will arbitrate any dispute between us in accordance with the language of this provision as unmodified by such rejected change.

            (j) Special Severability.

            In the event that the provisions of Section 6.10(e) above are found to be invalid or unenforceable for any dispute or claim, then, notwithstanding Section 6.11, the entirety of this Section 6.10 shall be null and void with respect to such dispute or claim and Section 6.12 shall apply in lieu of this Section 6.10.

            (k) Opt Out.

            We believe that on a whole this agreement to arbitrate will benefit our Users. However, if you are an existing registered User and you do not wish to accept this agreement to arbitrate with respect to some or all of your accounts registered prior to October 1, 2015 you may opt-out by sending us a written notice to the Notice Address which (i) states you do not agree to this agreement to arbitrate, (ii) includes your name and all email addresses associated with the accounts you wish to opt-out, and (iii) is signed by the individual who owns the account, or in the event the account is held by an entity, an authorized signer for such entity (the “Opt-Out Notice”). The Opt-Out Notice must be received by November 14, 2015 in order to be effective; otherwise this agreement to arbitrate will be effective as of October 1, 2015. For new registered users and existing registered users who register new accounts following October 1, 2015, there is no option to opt-out and this provision will be effective as to such new accounts upon account creation. For unregistered Attendees and other Users, this provision will apply to all future activities on the Services after October 1, 2015. In the event that you opt-out of this agreement to arbitrate as set forth above, Section 6.12 shall apply.

            6.11 Waiver; Invalid Provisions.

            The failure or delay of EventPorter to exercise or enforce any right or provision of these Terms of Service shall not constitute a waiver of such right or provision. No oral waiver, amendment or modification shall be effective under any circumstance whatsoever. If any provision of these Terms of Service is found by an arbitrator or court of competent jurisdiction to be invalid, the parties nevertheless agree that the arbitrator or court should endeavor to give effect to the parties’ intentions as reflected in the provision, and the other provisions of these Terms of Service shall remain in full force and effect.

            6.12 Judicial Forum.

            In the event that the Agreement to Arbitrate above is found not to apply to you or to a particular claim or dispute, either as a result of your decision to opt-out of the Agreement to Arbitrate or for any other reason, then any dispute or claim not subject to arbitration shall be resolved exclusively by a federal court located in San Francisco County, California, and to the extent there is no subject matter jurisdiction in such federal court, then a state court in San Francisco County, California. Both you and EventPorter agree to submit to the personal jurisdiction and venue of such courts and agree that such forum is convenient.

            6.13 Titles.

            Any Section titles in these Terms of Service are for convenience only and have no legal or contractual effect.

            6.14 Violations.

            Please report any violations of these Terms of Service by email.

            6.15 Assignment.

            We may, without your consent or approval, freely assign these Terms of Service and our rights and obligations under these Terms of Service, whether to an affiliate or to another entity in connection with a corporate transaction or otherwise.

            6.16 Relationship.

            No independent contractor, agency, partnership, joint venture, employer-employee or franchiser-franchisee relationship is intended or created by these Terms of Service, except to the extent expressly set forth in Section 4 of the Terms of Use and the Merchant Agreement.
        </p>   
    </div>
</body>
</html>
